<div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        
        <button style="float: right;margin-right: 0rem;background-color: var(--aggiungi);border-color:  var(--aggiungi);" title="Aggiungi articolo" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="VediAgg($event)"></button><h1>Articoli</h1>
        <br>
        <tabella [totalRecord]="totalRecord" (onPage)="Paginazione($event)" (onFiltra)="InserimentoFiltri($event)" (onLazyLoad)="LoadArticoli($event)" [lista]="lista" [options]="tabella" [btnarticolo]=true (onButtonDettClick)="buttonDettClick($event)" (onButtonEliminaClick)="buttonEliminaClick($event)" ></tabella>
      </div>
      <app-info-articoli *ngIf="mostraDialog" [infoSelect]="infoSelect" (Update)="Modifica($event)"  (Inserisci)="Inserisci($event)" [nominativo]="nominativo" [nuovo]="nuovo"
      (onHideDialog)="nascondi()" [index]="index" [tipo]="tipodialog">
    </app-info-articoli>
    <p-dialog header="Vuoi eliminare l'articolo: {{nomeelimina}}"  [(visible)]="mostraDialogDelete" [modal]="true" [style]="{ width: '40vw' }"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <br>
    <button style="float: right;margin-right: 2rem;background-color: var(--elimina);border-color:  var(--elimina);" pButton pRipple type="button" label="Annulla" class="p-button-danger" (click)="mostraDialogDelete=false" ></button>
    <button style="margin-left: 2rem;background-color: var(--conferma);border-color:  var(--conferma);" pButton pRipple type="button" label="Conferma" class="p-button-success" (click)="EliminaArticolo()" ></button>
</p-dialog>
<app-add-articoli *ngIf="mostraDialog3" [infoSelect]="infoSelect2" 
      (onHideDialog)="nascondi2()"  [index]="index"  >
    </app-add-articoli>



    </div>
</div>
