<p-dialog header="Aggiungi Articolo" [(visible)]="mostraDialog" [modal]="true" [style]="{ width: '70vw' }"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="reset()">
    <br>
    <p-tabView [(activeIndex)]="index">
            <div class="p-inputgroup" *ngFor="let info of infoSelect" style="margin-bottom: 1.5rem;">
                <span style="width: 25%;" class="p-inputgroup-addon" >{{info.name}}</span>
                <input style="width: 75%;" type="text" pInputText [(ngModel)]="info.value" >
                <br>
               
            </div>
            <br>
    </p-tabView>
            <button style="float: right;margin-right: 10rem;background-color: var(--elimina);border-color:  var(--elimina);" pButton pRipple type="button" label="Annulla Inserimento" class="p-button-danger" (click)="mostraDialog=false" ></button>
            <button style="margin-left: 10rem;background-color: var(--conferma);border-color:  var(--conferma);" pButton pRipple type="button" label="Inserisci Articolo" class="p-button-success" (click)="Aggiungi()" ></button>

        </p-dialog>