<p-dialog header="{{titolo}}" [(visible)]="mostraDialog" [modal]="true" [style]="{ width: '85vw' }" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" (onHide)="hide()">
  <div>
    <h5 *ngIf="!fattura" style="float: right;">Fornitore: <p-autoComplete class="auto1" [(ngModel)]="informazioni[0].value"
        [suggestions]="risultati2" (completeMethod)="trovaFornitori($event)" field="label"></p-autoComplete>
    </h5>
    <h5 *ngIf="fattura" style="float: right;">Fornitore: <p-autoComplete class="auto1" disabled="true"
        [placeholder]="informazioni[0].value"></p-autoComplete>
    </h5>
  </div>
  <p-tabView  [(activeIndex)]="index">
    <p-tabPanel header="Elementi Acquisto">
      <div class="form-group row" *ngIf="eseguita">
        <div class="col">
          <h5 *ngIf="fattura">Data: <p-autoComplete class="auto1" disabled="true"
              [placeholder]="informazioni[2].value | date: 'dd/MM/yyyy'"></p-autoComplete>
          </h5>
        </div>
        <div class="col">
          <h5 *ngIf="fattura" style="margin-left: auto;">Spesa Totale: <p-autoComplete class="auto1" disabled="true"
              [placeholder]="informazioni[3].value+' €'"></p-autoComplete>
          </h5>
        </div>
      </div>
      <div class="form-group row" *ngIf="!eseguita">
        <div class="col">
          <h5>Nome articolo: </h5>
          <p-autoComplete class="auto1" [(ngModel)]="testo" [suggestions]="risultati" (completeMethod)="trovaArticoli($event)"
          field="label">
          </p-autoComplete>
        </div>
        <div class="col">
          <h5>Quantità di articoli: </h5>
          <p-inputNumber [(ngModel)]="quantitaarticolo" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-info"
            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>
        <div class="col">
          <h5>Prezzo unitario dell'articolo: </h5>
          <p-inputNumber [(ngModel)]="costoarticolo" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-info"
            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="EUR">
          </p-inputNumber>
        </div>
        <div class="col-2">
          <button style="margin-top: 1.8rem; background-color: var(--conferma);border-color:  var(--conferma);" pButton
            pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="AggiungiArticolo()"></button>

        </div>
      </div>

      <br>
      <app-tabella-articoli [lista]="lista" [options]="tabella" [btnAcqArt1]="!fattura"
        (onButtonEliminaClick)="buttonEliminaClick($event)"></app-tabella-articoli>

    </p-tabPanel>
    <p-tabPanel *ngIf="!eseguita" header="Inserimento Fattura">
      <div class="form-group row">

        <div class="col">
          <h5>Data Fattura: </h5><br>
          <p-calendar [(ngModel)]="informazioni[2].value" [inline]="true"></p-calendar>
          <br>
        </div>

        <div class="col">
          <h5>Numero Fattura: </h5><br>
          <input style="width: 70%;" type="text" pInputText [(ngModel)]="informazioni[1].value"><br>
        </div>

      </div>
    </p-tabPanel>
  </p-tabView>
  <div *ngIf="!eseguita">
    <button style="background-color: var(--conferma);border-color:  var(--conferma);" pButton pRipple type="button" label="Conferma" class="p-button-success" (click)="EseguiTutto()" ></button>
  </div>

</p-dialog>