.cinghia {
    background-color: var(--colore1);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  h1,h2,h3,h4,h5,h6,p,tr,td,th,a,button,span{
    font-family: var(--font);
  }


  .active,
  .cinghia:hover {
    background-color: var(--colore2);
  }

  .collapse {
    padding: 0 10px;
    overflow: hidden;
    transition: max-height 0s ease-out;
  }

  .margine{
    margin-top: 10px;
  }

  .dim{
    height: 33px;
  }
  @keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}