<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <button style="float: right;margin-right: 0rem;background-color: var(--aggiungi);border-color:  var(--aggiungi);"
        title="Aggiungi acquisto" pButton pRipple type="button" icon="pi pi-plus"
        class="p-button-rounded p-button-success" (click)="VediAgg($event)"></button>
      <h1>Acquisti</h1>
      <br>
      <button type="button" class="cinghia" data-toggle="collapse" (click)="mostra=!mostra">
        <h3>Acquisti Arrivati</h3>
      </button>
      <div *ngIf="mostra" style="animation: slide-up 0.5s ease;">
        <tabella [lista]="lista" [options]="tabella" [btnarticolo]=true [btnagg]=true 
          (onButtonDettClick)="CheckFattura($event)" (onButtonEliminaClick)="buttonEliminaClick($event)"
          (onButtonVediClick)="DettaglioAcquisto($event)" (onPage)="Paginazione2($event)" (onFiltra)="InserimentoFiltri2($event)" (onLazyLoad)="LoadAcquisti2($event)" ></tabella>
      </div>
      <br>
      <button type="button" class="cinghia" data-toggle="collapse" (click)="mostra2=!mostra2">
        <h3>Acquisti con Fattura Inserita</h3>
      </button>
      <div *ngIf="mostra2" style="animation: slide-up 0.5s ease;">
        <tabella [lista]="lista2" [options]="tabella" [btnarticolo]=false [btnagg]=true
          (onButtonVediClick)="buttonVediAClick2($event)" (onPage)="Paginazione($event)" (onFiltra)="InserimentoFiltri($event)" (onLazyLoad)="LoadAcquisti($event)"></tabella>
      </div>
      <br>
    </div>
    <p-dialog header="Vuoi eliminare l'acquisto: {{nomeelimina}}" [(visible)]="mostraDialogDelete" [modal]="true"
      [style]="{ width: '40vw' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
      <br>
      <button style="float: right;margin-right: 2rem;background-color: var(--elimina);border-color:  var(--elimina);"
        pButton pRipple type="button" label="Annulla" class="p-button-danger"
        (click)="mostraDialogDelete=false"></button>
      <button style="margin-left: 2rem;background-color: var(--conferma);border-color:  var(--conferma);" pButton
        pRipple type="button" label="Conferma" class="p-button-success" (click)="EliminaAcquisto($event)"></button>
    </p-dialog>
  </div>

  <app-articoliacquisti [lista]="listaArticoli" [mostraDialog]="mostraDialog3" [idAcquisto]="idA" [titolo]="nominativo" [eseguita]="eseguita" [fattura]="fattura" [informazioni]="InfoSel"
  (onHideDialog)="nascondi3()" [index]="index" [tipo]="tipodialog"></app-articoliacquisti>

  <app-check-fattura [lista]="listaArticoli" [mostraDialog]="mostraDialog2" [idAcquisto]="idA" [titolo]="nominativo" [informazioni]="InfoSel" (onHideDialog)="nascondi2()"></app-check-fattura>
  
</div>