<div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <h1>Ordini</h1>
        <br>
        <tabella [totalRecord]="totalRecord" [btnOrd]=true (onPage)="Paginazione($event)" (onFiltra)="InserimentoFiltri($event)" (onLazyLoad)="LoadArticoli($event)" [lista]="lista" [options]="tabella" (onButtonDettClick)="buttonDettClick($event)"  ></tabella>
      </div>





    </div>

    <p-dialog header="{{titolo}}" [(visible)]="mostraDialog" [modal]="true" [style]="{ width: '70vw' }"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="reset()">
    <p-tabView  [(activeIndex)]="index">
      <p-tabPanel header="Info Ordine">
        <div class="p-inputgroup" *ngFor="let info of infoSelect" style="margin-bottom: 1.5rem;">
            <span style="width: 25%;" class="p-inputgroup-addon">{{info.name}}</span>
            <input style="width: 75%;" type="text" pInputText disabled placeholder="{{info.value}}" *ngIf="info.name!='Data Acquisto'">
            <input style="width: 75%;" type="text" pInputText disabled placeholder="{{info.value | date: 'dd/MM/yyyy'}}" *ngIf="info.name=='Data Acquisto'">
            <br >

        </div>
      </p-tabPanel>
      <p-tabPanel header="Articoli nell'ordine">
        <app-tabella-articoli [lista]="lista2" [options]="tabella2" ></app-tabella-articoli>

      </p-tabPanel>
      </p-tabView>
</p-dialog>

</div>
