<p-dialog header="{{titolo}}" [(visible)]="mostraDialog" [modal]="true" [style]="{ width: '85vw' }" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" (onHide)="hide()">
  <div>
   
    <h5 style="float: right;">Fornitore: <p-autoComplete class="auto1" disabled="true"
        [placeholder]="informazioni[0].value" field="label"></p-autoComplete>
    </h5>
  </div>
  <p-tabView  [(activeIndex)]="index">
    <p-tabPanel header="Recap Acquisto">
      <div class="form-group row">
        <div class="col">
          <h5>Data: <p-autoComplete class="auto1" disabled="true"
              [placeholder]="informazioni[2].value | date: 'dd/MM/yyyy'"></p-autoComplete>
          </h5>
        </div>
        <div class="col">
          <h5 style="margin-left: auto;">Spesa Totale: <p-autoComplete class="auto1" disabled="true"
              [placeholder]="informazioni[3].value+' €'"></p-autoComplete>
          </h5>
        </div>
      </div>
      <br>
      <app-tabella-articoli [lista]="lista" [options]="tabella" [btnAcqArt1]=false></app-tabella-articoli>
      <br>
      <button style="background-color: var(--conferma);border-color:  var(--conferma);" pButton pRipple type="button" label="Conferma" class="p-button-success" (click)="EseguiFattura()" ></button>
    </p-tabPanel>
  </p-tabView>
 

</p-dialog>