// Here you can add other styles
.sidebar{
    background-color: var(--colore1);
    font-family: var(--font);
}
.sidebar .nav-link:hover {
    color: #fff;
    background: var(--colore2);
}
.sidebar .nav-link:only-child{
    padding-left: 2rem;
}
.sidebar-minimized .nav-link:only-child{
    padding-left: 0rem;
}
.sidebar-minimized .sidebar .nav-link:hover {
    width: 250px;
    background: var(--colore2);
}
.nav-dropdown:hover {
    background: var(--colore2);
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background: var(--colore2);
}
.sidebar-minimized .sidebar .nav-item > .nav-link {
    background: var(--colore1);
    width: 300px;
}
.sidebar .nav-link.active .nav-icon {
    color: var(--colore2);
}
.sidebar .nav-link.active:hover .nav-icon{
    color: var(--colore1);
}
.sidebar-minimized .sidebar .nav-link:hover {
    width: 300px;
}
.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
    width: 250px;
}
.sidebar-minimized .sidebar .sidebar-minimizer {
    background-color: var(--colore1);
    color: whitesmoke;
}

h1,h2,h3,h4,h5,h6,p,tr,td,th,a,span{
  font-family: var(--font);
}

* {
    --colore1: rgb(61, 63, 66);
    --colore2: rgb(32,178,170);
    --conferma: rgb(32,178,170);
    --elimina: rgb(201, 26, 99);
    --aggiungi: rgb(32,178,170);
    --modifica: rgb(27, 194, 206);
    --occhio: rgb(112, 23, 196);


    --font: futura-book;
}
.dropfor {
    width: 30rem;
}
.auto1{
    width: 30rem;
}
.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button{
    background: var(--colore2);
    border: 1px solid var(--colore2);
}
.p-button.p-button-info:enabled:hover, .p-buttonset.p-button-info > .p-button:enabled:hover, .p-splitbutton.p-button-info > .p-button:enabled:hover {
    background: var(--colore1);
    color: #ffffff;
    border-color: var(--colore1);
}
.p-button.p-button-danger, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button {
    color: #ffffff;
    background: var(--occhio);
    border: 1px solid var(--occhio);
}
.p-button.p-button-danger:enabled:hover, .p-buttonset.p-button-danger > .p-button:enabled:hover, .p-splitbutton.p-button-danger > .p-button:enabled:hover {
    background: var(--elimina);
    color: #ffffff;
    border-color: var(--elimina);
}
.p-button:enabled:hover {
    background:  var(--colore1);
    color: #ffffff;
    border-color:  var(--colore1);
}
.p-button {
    background:  var(--colore2);
    color: #ffffff;
    border-color:  var(--colore2);
}
.p-button.p-button-text {
    background-color: transparent;
    color: var(--colore2);
    border-color: transparent;
}
.p-button.p-button-text:enabled:hover {
    background: rgba(33, 150, 243, 0.04);
    color: var(--colore2);
    border-color: transparent;
}
.p-button.p-button-outlined {
    background-color: transparent;
    color: var(--colore2);
    border: 1px solid;
}
.p-button.p-button-danger.p-button-text, .p-buttonset.p-button-danger > .p-button.p-button-text, .p-splitbutton.p-button-danger > .p-button.p-button-text {
    background-color: transparent;
    color: var(--elimina);
    border-color: transparent;
}
.p-button.p-button-danger.p-button-text:enabled:hover, .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
    background: rgba(211, 47, 47, 0.04);
    border-color: transparent;
    color: var(--elimina);
}
.p-inputtext:enabled:hover {
    border-color: var(--colore2);
}