<p-table #dt2 [value]="lista" dataKey="id" (onFilter)="Filtrando($event)"  [lazy]=true (onPage)="pageFunction($event)" (onLazyLoad)="loadFunction($event)"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25]" styleClass="p-datatable-customers"
        [paginator]="true" currentPageReportTemplate="" [totalRecords]="totalRecord"
        [globalFilterFields]="['name','country.name','representative.name','status']">
       
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of options.colsOptions" >
                    
                    {{col.name}}
                    <p-columnFilter type="{{col.type}}" field="{{col.label}}" display="menu" *ngIf="!(col.label=='Prezzo' || col.label=='soldi')"></p-columnFilter>
                    <p-columnFilter type="{{col.type}}" field="{{col.label}}" display="menu" currency="EUR" *ngIf="col.label=='Prezzo' || col.label=='soldi'"></p-columnFilter>
                </th>
                <th *ngIf="btnarticolo==true && btnagg==true" style="width: 15rem;">
                </th>
                <th *ngIf="!(btnarticolo==true && btnagg==true)" style="width: 10rem;">
                </th>
            </tr>
           
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td *ngFor="let col of options.colsOptions"  (click)="select(customer, col)">
                    <div *ngIf="!(col.label=='Prezzo' || col.label=='soldi' || col.type =='date')">{{customer[col.label]}}</div>
                    <div style="float: cantre;" *ngIf="col.label=='Prezzo' || col.label=='soldi'">{{customer[col.label]}} €</div>
                    <div *ngIf="col.type =='date'">{{customer[col.label] | date: 'dd/MM/yyyy'}}</div>
                </td>
                
                <td *ngIf="btnarticolo==true || btnagg==true" style="width: 10rem;">
                    <button *ngIf="btnagg==true" style="margin-right: 0.5rem;background-color: var(--occhio);border-color:  var(--occhio);"  pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-help" (click)="VediArticoli(customer)"></button>

                    <button *ngIf="btnarticolo==true" style="margin-right: 0.5rem;background-color: var(--modifica);border-color:  var(--modifica);" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info" (click)="Dettaglio(customer)"></button>
                    
                    <button *ngIf="btnarticolo==true" style="background-color: var(--elimina);border-color:  var(--elimina);" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="Elimina(customer)"></button>
                </td >
                <td *ngIf="btnAcqArt1==true" style="width: 10rem;">
                    <button style="margin-right: 0.5rem;background-color: var(--elimina);border-color:  var(--elimina);" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-info" (click)="Elimina(customer)"></button>
                </td>
                <td *ngIf="btnOrd==true" style="width: 10rem;">
                    <button style="margin-right: 0.5rem;background-color: var(--occhio);border-color:  var(--occhio);"  pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-help" (click)="Dettaglio(customer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Non ho trovato risultati</td>
            </tr>
        </ng-template>
    </p-table>