<p-table #dt2 [value]="lista" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-customers"
        [paginator]="true" currentPageReportTemplate="Visualizzando da {first} a {last} di {totalRecords} elementi"
        [globalFilterFields]="['name','country.name','representative.name','status']">
       
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of options.colsOptions" style="padding: 0.5rem 0.8rem">
                    
                    {{col.name}}
                  
                </th>
                <th *ngIf="btnAcqArt1" style="width: 5rem;">
                </th>
            </tr>
           
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td *ngFor="let col of options.colsOptions" style="padding: 0.2rem 0.8rem">
                    <div *ngIf="!(col.label=='Prezzo' || col.label=='soldi' || col.type =='date')">{{customer[col.label]}}</div>
                    <div style="float: cantre;" *ngIf="col.label=='Prezzo' || col.label=='soldi'">{{customer[col.label]}} €</div>
                    <div *ngIf="col.type =='date'">{{customer[col.label] | date: 'dd/MM/yyyy'}}</div>
                </td>
                
                
                <td *ngIf="btnAcqArt1==true" style="width: 10rem;padding: 0.2rem 0.8rem">
                    <button style="margin-right: 0.5rem;background-color: var(--elimina);border-color:  var(--elimina);" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="Elimina(customer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Non ho trovato risultati</td>
            </tr>
        </ng-template>
    </p-table>