<p-dialog header="{{nominativo}}" [(visible)]="mostraDialog" [modal]="true" [style]="{ width: '70vw' }"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="reset()">
    <p-tabView [(activeIndex)]="index">
        <div class="p-inputgroup" *ngFor="let info of infoSelect" style="margin-bottom: 1.5rem;">
            <span style="width: 25%;" class="p-inputgroup-addon" *ngIf="info.name!='ID'">{{info.name}}</span>
            <input style="width: 75%;" type="text" pInputText [(ngModel)]="info.value"
                *ngIf="!(info.name=='ID' || info.name=='Prezzo' || info.name=='Giacenza' || info.name=='Soglia Disponibilità')">
                
                <input *ngIf="info.name=='Prezzo'" style="width: 75%;" [(ngModel)]="info.value" type="number" mode="currency" currency="EUR">
                <input *ngIf="info.name=='Giacenza' || info.name=='Soglia Disponibilità'"  style="width: 75%;" [(ngModel)]="info.value" type="number">
            <br *ngIf="info.name!='ID'">

        </div>
        <h5 style="color: var(--elimina);">{{laberr}}</h5>
    </p-tabView>
    <button *ngIf="!nuovo"
        style="float: right;margin-right: 10rem;background-color: var(--elimina);border-color:  var(--elimina);" pButton
        pRipple type="button" label="Annulla Modifica" class="p-button-danger" (click)="mostraDialog=false"></button>
    <button *ngIf="nuovo"
        style="float: right;margin-right: 10rem;background-color: var(--elimina);border-color:  var(--elimina);" pButton
        pRipple type="button" label="Annulla Aggiunta" class="p-button-danger" (click)="mostraDialog=false"></button>
    <button *ngIf="nuovo" style="margin-left: 10rem;background-color: var(--conferma);border-color:  var(--conferma);"
        pButton pRipple type="button" label="Conferma Aggiunta" class="p-button-success" (click)="Aggiungi()"></button>
    <button *ngIf="!nuovo" style="margin-left: 10rem;background-color: var(--conferma);border-color:  var(--conferma);"
        pButton pRipple type="button" label="Conferma Modifica" class="p-button-success" (click)="Modifica()"></button>

</p-dialog>
<<<<<<< HEAD

=======
>>>>>>> 6c2c83c52ba83b908c4e40d645dff9cf7e870bac
