<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form (keydown.enter)="VerificaLogin()">
                  <img src="assets/img/logoBrandMinimized/logo_small.png" alt="Logo" style="width: 150px; height: 150px;">
                  <br>
                  <br>
                  <h1 style="font-family: var(--font) ;color: var(--colore1);">Login</h1>
                  <p style="font-family: var(--font) ;color: var(--colore1);">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="user" name="user"
                      style="font-family: var(--font) ;color: var(--colore1);font-size:medium;" type="text"
                      class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="pass" name="pass"
                      style="font-family: var(--font) ;color: var(--colore1);font-size:medium;" type="password"
                      class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <h3 style="color: red;" *ngIf="errato">Credenziali errate</h3>
                  <div class="row">
                    <div class="col-6">
                      <button
                        style="background-color: var(--colore1); border-color:  var(--colore1); font-family: var(--font) ;"
                        type="button" (click)="VerificaLogin()" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">

                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>