<div class="animated fadeIn">
  <div class="card-columns cols-2">

    <div class="card">
      <div class="card-header">
        Quantità totali vendute per settimana
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p-chart
            type="bar" [data]="graficoaBarreSettQta" [options]="optionsGraficoaBarreSettQta">
          </p-chart>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Quantità totali vendute e totale ricavi per items e per settimana
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p-dropdown
            [options]="items" [(ngModel)]="selectedItem" 
            placeholder="Seleziona un articolo" optionLabel="name"
            [showClear]="true" (onChange)="changeValueItem($event)">
          </p-dropdown>
          <p-chart
            type="bar" [data]="graficoaBarre" [options]="optionsGraficoaBarre">
          </p-chart>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Quantità articoli venduti 
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p-chart
            type="doughnut" [data]="graficoaTorta" [options]="optionsGraficoaTorta">
          </p-chart>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Totale ricavi per settimana (in EUR)
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p-chart
            type="bar" [data]="graficoaBarreSettRev" [options]="optionsGraficoaBarreSettRev">
          </p-chart>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Quantità totali vendute e totale ricavi per categoria e per settimana 
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p-dropdown
            [options]="categoria" [(ngModel)]="selectedCategoria" [options]="items"
            placeholder="Seleziona una categoria" optionLabel="name"
            [showClear]="true" (onChange)="changeValueCategoria($event)">
          </p-dropdown>
          <p-chart
            type="horizontalBar" [data]="graficoaBarreOrizzontale" [options]="optionsGraficoaBarreOrizzontale">
          </p-chart>
        </div>
      </div>
    </div>

  </div>
</div>
